
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
body {
    font-size: .875rem;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 48px; /* Height of navbar */
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
}

.sidebar .nav-link.active {
    color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
}

.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

/*
 * Utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }
.left-in-block {    position: absolute;
    right: 1rem;
    top: 1.5rem;
}
.search-container {
    #search {
        min-width: 300px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        border: solid 1.2px #3490dc;

    }
}
.pull-right {
    margin-bottom: 30px;
}
#app {
    .container {
        margin-top: 30px;
    }
    .navbar  {
        .container {
            margin-top:  0px;
        }
    }
}
.f14 {
    font-size: 14px;
}
.checkbox {
    display: flex;
    width: 20px;
    height: 20px;
}
.center-items {
    display: flex;
    justify-content: center;
    align-items: center;
}
.answer-block {
    margin-top: 20px;
}
.select-container {
    margin-top: 20px;
    margin-bottom: 20px;
}

li {
    a {
        cursor: pointer;
    }
}
.badge {
    a {
        cursor: pointer;
        color: white;
        font-size: 13px;
        &:hover {
            text-decoration: none;
            color: cornflowerblue;
        }
    }
}
h3 {
    a {
        color: black;
        &:hover {
            text-decoration: none;
        }
    }
}
